rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {

    match /users/{uid} {
      allow read: if request.auth != null && request.auth.uid == uid;
      allow create: if request.auth != null && request.auth.uid == uid;
      allow update: if request.auth != null && request.auth.uid == uid;
      allow delete: if false;
    }

    match /projects/{projectId} {
      allow read: if true;

      allow create: if request.auth != null
                    && request.resource.data.ownerId == request.auth.uid;

      allow update: if (
                        request.auth != null && resource.data.ownerId == request.auth.uid
                      ) || (
                        request.resource.data.diff(resource.data).affectedKeys()
                          .hasOnly(['viewed', 'viewedAt', 'review'])
                      );

      allow delete: if request.auth != null && resource.data.ownerId == request.auth.uid;
    }
  }
}